.main-container {
    width: 100%;
    height: 824px;
    margin-top: 316px;
    position: relative;
    padding-top: 30px;
}

.line {
    width: 100%;
    height: 30px;
    border: 4px solid var(--primary-yellow);
    border-bottom: none;
    position: absolute;
    top: 0;
}

.top-stories-title {
    width: 200px;
    height: 60px;
    font-size: 24px;
    padding: 15px 22px;
    font-weight: normal;
    font-style: italic;
    color: #4C4E4D;
    text-transform: uppercase;
    background-color: var(--white);
    position: absolute;
    left: 470px;
    top: -30px;
}

.top-stories-flex-container {
    width: 100%;
    height: 750px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

.top-stories-sidebar {
    width: 211px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-stories-sidebar-item:first-child {
    height: 330px;
}

.top-stories-sidebar-item {
    width: 100%;
    height: 200px;
    color: #4C4E4D;
    border-bottom: 1px solid #D1D1D1;
}

.top-stories-sidebar-item:last-child {
    border-bottom: none;
}

/* img */
.top-stories-sidebar-item img {
    width: 100%;
    height: 120px;
    background-color: rgb(216, 224, 216);
}

.top-stories-sidebar-item-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #4C4E4D;
}

.top-stories-sidebar-item-title-link,
.top-stories-center-item-title-link,
.top-stories-center-item-main-title-link {
    color: #4C4E4D;
}

.top-stories-sidebar-item-title-link:hover,
.top-stories-center-item-title-link:hover,
.top-stories-center-item-main-title-link:hover {
    color: #353636;
}

.top-stories-sidebar-item-title-link:active,
.top-stories-center-item-title-link:active,
.top-stories-center-item-main-title-link:active {
    color: #5a5c5b;
}

.top-stories-sidebar-item-about-text {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 5px;
}

.top-stories-sidebar-item-author {
    font-size: 12px;
}

.top-stories-center {
    width: 562px;
}

/* img */
.top-stories-center-item-main img {
    width: 562px;
    height: 318px;
    background-color: #D1D1D1;
    margin-bottom: 23px;
}

.top-stories-center-item-main {
    text-align: center;
    color: #4C4E4D;
    padding-bottom: 26px;
    border-bottom: 1px solid #D1D1D1;
}

.top-stories-center-item-main-text {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    background-color: var(--primary-yellow);
    font-weight: bold;
}

.top-stories-center-item-main-title {
    width: 475px;
    font-size: 33px;
    font-weight: bold;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.top-stories-center-item-main-about-text {
    font-size: 17px;
    margin-bottom: 8px;
}

.top-stories-center-item-main-author,
.top-stories-center-item-author {
    font-size: 12px;
}

.top-stories-center-item-main-author-link,
.top-stories-center-item-author-link,
.top-stories-sidebar-item-author-link {
    color: #4F7177;
}

.top-stories-center-item {
    color: #4C4E4D;
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Img */
.top-stories-center-item img {
    width: 163px;
    height: 94px;
    background-color: #D1D1D1;
}

.top-stories-center-item-text-over-title {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.top-stories-center-item-title {
    width: 365px;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 6px;
}

.top-stories-center-item-about {
    width: 334px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 7px;
}