.nav {
    background-color: #F1F3F2;
}

.nav-container {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 132px;
    height: 94px;
    padding: 28px 16px 19px 16px;
    margin-right: 16px;
    background-color: var(--primary-yellow);
    z-index: 5;
}

.nav-list {
    width: 830px;
    list-style-type: none;
    display: flex;
}

.nav-list-item {
    padding: 23px 13px;
}

.nav-list-link {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.12;
    color: var(--primary-grey);
    text-decoration: none;
    font-weight: bold;
}

.nav-list-link:hover {
    color: var(--primary-grey-darker);
}

.nav-list-item:last-child:hover,
.nav-list-item:first-child:hover {
    background-color: var(--white);
    cursor: pointer;
}

.nav-btns {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.nav-btn {
    width: 90px;
    height: 32px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--btn-teal);
}

.nav-btn:hover {
    cursor: pointer;
    background-color: var(--btn-teal-darker);
}

.nav-btn:active {
    background-color: var(--btn-teal-lighter);
}

.more-icon {
    margin-left: 6px;
}

.search-btn {
    cursor: pointer;
}

.nav-search {
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid #d1d1d1;
    position: absolute;
    opacity: 0;
    z-index: -3;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
    z-index: 3;
}

.nav-search-form {
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.nav-search-input {
    width: 978px;
    height: 68px;
    padding: 8px 75px 8px 8px;
    border: none;
}

.nav-search-input:focus {
    outline: none;
}

.nav-search-input:focus::placeholder {
    color: #4f4f4f;
}

.nav-search-input::placeholder {
    font-size: 25px;
    color: #d1d1d1;
}

.nav-search-submit {
    width: 74px;
    height: 36px;
    background-color: #4f7177;
    color: var(--white);
    text-transform: uppercase;
    border: none;
}

.nav-search-submit:hover {
    background-color: #4f4f4f;
}